$parentBorder: 2px solid red;
$childBorder: 1px solid blue;

@mixin resultStyle() {
    color: #545A68;
    font-weight: 800;
    margin-top: 10px;
    font-size: 35px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

* {
    transition: 0.2s;
}


body {
    font-size: 25px;

    .main__container {
        margin: 140px auto;
        display: flex;
        flex-direction: column;
        width: 60%;

        .ques__container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: 5px solid #8F96A1;
            border-radius: 30px;
            padding-left: 15px;
            padding-right: 15px;
            height: 350px;

            .question {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                height: 100px;

                .ques {
                color: #545A68;
                font-weight: 800;
                }

            }  

            .answers {
                color: #6B717F;

                ul {
                    list-style: lower-alpha;

                    li {
                        cursor: pointer;
                        float: left;
                        clear: left;
                        padding: 5px;

                    }

                }
            }

            .btn__container {
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: #1AA135;
                    font-size: 18px;
                    color: #ffffff;
                    width: 200px;
                    height: 50px;
                    margin-right: 40px;
                    margin-bottom: 20px;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #45C35E;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
                    }
                }
            }

        }

        .result__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 5px solid #8F96A1;
            border-radius: 30px;
            padding-left: 15px;
            padding-right: 15px;
            height: 400px;

            .result {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .text {
                    @include resultStyle();
                }

                .result__text {
                    @include resultStyle();
                }
            }

            .right__answers {
               .show {
                font-size: 16px;
                color: #545A68;
                font-weight: 800;
                margin-top: 40px;
                cursor: pointer;

                &:hover {
                    color: #8F96A1;
                }

               }

            }

            .btn__container {
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: #1AA135;
                    font-size: 18px;
                    color: #ffffff;
                    width: 300px;
                    height: 60px;
                    margin-top: 15px;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #45C35E;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
                    }
                }
            }
        }
    }

}